/.metadata/
/lib/
Hadoop/lib/
/.recommenders/
/RemoteSystemsTempFiles/
*.jar
Scala/project
Scala/target
Scala_02/project
Scala_02/target
Scala_02/saprkJars
Scala_02/src/main/org/
Spark_Server/saprkJars
Spark_Server/project
Spark_Server/target
Spark_Server/saprkJars
Spark_Server/src/main/org/
.idea
*.class
*.iml
*/target